.total {
    border-radius: 15px;
    border-style: solid;
    border-color: #0d98ba;
    text-align: center;
    font-size: x-large;
}

p.title {
    border-radius: 15px;
    border-style: solid;
    background-color: #0d98ba;
    text-align: center;
    color: white;
    font-size: x-large;
}